// Use `niri msg outputs` to see monitors
output "edp-1" {
    // off

    mode "1366x768@59.973"

    // you can use integer or fractional scale, for example use 1.5 for 150% scale.
    scale 1

    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // position of the output in the global coordinate space.
    // this affects directional monitor actions like "focus-monitor-left", and cursor movement.
    // the cursor can only move between directly adjacent outputs.
    // output scale and rotation has to be taken into account for positioning:
    // outputs are sized in logical, or scaled, pixels.
    // for example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
    // so to put another output directly adjacent to it on the right, set its x to 1920.
    // if the position is unset or results in an overlap, the output is instead placed
    // automatically.
    position x=0 y=0
}


